body
{
   
}

p
{
	text-align: center;
	font-family: 'Mukta Mahee', sans-serif;
	font-size: x-large;
	font-weight: lighter;
}

a:link {
    color: #0094FF;
}

a:visited {
    color: #79D098;
}

a:hover {
    color: #66B1CD;
}

img{
	width: 100%;
	max-width: 1000px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	}
}
