.container{
	max-width: 800px;
	margin: 20px auto;
	padding-bottom: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body
{
}

h1, h2, p
{
	font-family: Verdana, sans-serif;
	text-align: center;
}


h1
{
	margin-bottom: 30px;
	font-size: xx-large;
}

h2
{
	font-size: large;
}

p
{
 font-size: small;
}

a:link {
    color: #0094FF;
}

a:visited {
    color: #79D098;
}

a:hover {
    color: #66B1CD;
}

img{
	width: 100%;
	max-width: 500px;
	display: block;
    margin-left: auto;
    margin-right: auto }
